Repository Tomasz-Zdeb/Team-Project-Class-Project, pull requests merged in 2023-11, with the labels that each got.

#10 9 dodaj framework do routingu
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
Labels: Frontend, Sprint 3

#17 Dodaj widok logowania
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/card.test.tsx
  frontend/src/components/card.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/tailwind.config.js
  frontend/testsetup.ts
  frontend/vite.config.ts
Labels: Frontend, Sprint 3

#23 20 stworz widok menu
  frontend/src/layout.tsx
  frontend/src/main.tsx
  frontend/src/routes/menu.test.tsx
  frontend/src/routes/menu.tsx
  package-lock.json
Labels: Frontend, Sprint 3

#26 Popraw typ danych
  frontend/src/components/Card.test.tsx
  frontend/src/components/Card.tsx
  frontend/src/routes/menu.tsx
Labels: Frontend, Sprint 3, Continuous Improvement

#27 16 zainicjuj logowanie na poziomie backendu
  backend/EaterNet/EaterNet/settings.py
  backend/EaterNet/EaterNet/urls.py
  backend/EaterNet/app/urls.py
  backend/EaterNet/authentification/__init__.py
  backend/EaterNet/authentification/__pycache__/__init__.cpython-310.pyc
  backend/EaterNet/authentification/__pycache__/admin.cpython-310.pyc
  backend/EaterNet/authentification/__pycache__/apps.cpython-310.pyc
  backend/EaterNet/authentification/__pycache__/models.cpython-310.pyc
  backend/EaterNet/authentification/__pycache__/urls.cpython-310.pyc
  backend/EaterNet/authentification/__pycache__/views.cpython-310.pyc
  backend/EaterNet/authentification/admin.py
  backend/EaterNet/authentification/apps.py
  backend/EaterNet/authentification/migrations/__init__.py
  backend/EaterNet/authentification/migrations/__pycache__/__init__.cpython-310.pyc
  backend/EaterNet/authentification/models.py
  backend/EaterNet/authentification/tests.py
  backend/EaterNet/authentification/urls.py
  backend/EaterNet/authentification/views.py
  backend/requirements.txt
Labels: Backend, Sprint 3
